<div class="container">
    <div class="row">        
        <div class="col-md-4">
            <div class="well well-sm"  style="background: #a0c8e6 !important">
                <header>
                    <h2>Your flight</h2>
                </header>
                <div class="well"  style="background: #a0c8e6 !important">

                    <h3>
                        Outbound flight
                    </h3>
                    <div class="row">
                        <div class="col-md-12">
                            <?= $outbound->date ?>     
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5"><?= $outbound->origin ?></div>
                        <div class="col-xs-2"><span class="glyphicon glyphicon-arrow-right"></span></div>
                        <div class="col-xs-5"><?= $outbound->destination ?></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5"><?= $outbound->depTime ?></div>
                        <div class="col-xs-2"><span class="glyphicon glyphicon-arrow-right"></span></div>
                        <div class="col-xs-5"><?= $outbound->arrTime ?></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            € <?= $outbound->price ?><br>
                            <span class="muted">price per person</span>
                        </div>
                    </div>
                </div>
                <?php
                if (!empty($return)) {
                    ?>
                    <div class="well"  style="background: #a0c8e6 !important">

                        <h3>
                            Return flight
                        </h3>


                        <div class="row">
                            <div class="col-md-12">
                                <?= $return->date ?>     
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5"><?= $return->origin ?></div>
                            <div class="col-xs-2"><span class="glyphicon glyphicon-arrow-right"></span></div>
                            <div class="col-xs-5"><?= $return->destination ?></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5"><?= $return->depTime ?></div>
                            <div class="col-xs-2"><span class="glyphicon glyphicon-arrow-right"></span></div>
                            <div class="col-xs-5"><?= $return->arrTime ?></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                € <?= $return->price ?><br>
                                <span class="muted">price per person</span>
                            </div>
                        </div>
                    </div>
                    <?php
                }
                ?>
                <h3>Passenger(s)</h3>

                <?php
                foreach ($passengers as $p) {
                    echo '<div>' . $p . '</div>';
                }
                ?>

            </div>
        </div>
    </div>
</div>