
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-pane">          
                <div class="pane-content">
                    <?php
                    $form->prepare();
                    echo $this->form()->openTag($form);
                    ?>                    
                    <div class="search-flight">                   
                        <div class="row">
                            <div class="col-sm-3">
                                <h4>Choose a flight</h4>
                            </div>   
                            <div class="col-sm-7">
                                <div class="radio-buttons">
                                    <?= $this->formRadio($form->get('flight_type')); ?>
                                </div>
                            </div>  
                            <div class="col-sm-2"></div>                            
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                               <?= $this->formSelect($form->get('flight_from')); ?>
                            </div>   
                            <div class="col-sm-3">
                               <?= $this->formSelect($form->get('flight_to')); ?>
                            </div> 
                            <div class="col-sm-3 col-xs-6">
                               <?= $this->formText($form->get('flight_departure')); ?>
                            </div>                             
                            <div class="col-sm-3 col-xs-6">
                               <?= $this->formText($form->get('flight_return')); ?>
                            </div>                             
                        </div>   
                        <div class="row">
                            <div class="col-sm-3">
                               <?= $this->formSelect($form->get('flight_pax_adults')); ?>
                            </div>   
                            <div class="col-sm-3">
                               <?= $this->formSelect($form->get('flight_pax_children')); ?>
                            </div> 
                            <div class="col-sm-3 col-xs-6">
                               <?= $this->formSelect($form->get('flight_pax_babies')); ?>
                            </div>                             
                            <div class="col-sm-3 col-xs-6">
                               <?= $this->formSubmit($form->get('search')); ?>
                            </div>                             
                        </div>                         
                    </div>
                    <?php
                        echo $this->form()->closeTag();
                    ?>                    
                </div>
            </div>
        </div>
    </div>
</div>