body {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: "Calibri","Arial",sans-serif !important;    
    font-size: 15px  !important;
}

body, html {
    margin: 0;
    padding: 0;
}

h4, .h4 {
    font-size: 20px;
    color: #092a5e;
}

.jumbotron {
    background-color: #a0c8e6 !important;
}

.page-header {
    background-color: #a0c8e6;
}

input.is-date {
    background: url('/img/calendar.png') no-repeat center right;
}

.search-flight {
    padding-top: 9px;    
    background: #a0c8e6;
    margin: 0;    
    min-height: 20px;
    padding: 19px;
    max-width:800px;
}

.search-flight input, .search-flight  select {
    background-color: #fff !important;
    border: 0.5px solid #ccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 4px;
    margin-bottom: 10px;    
    width: 100%;
}

.search-flight select {
    cursor: auto;
    padding: 4px 20px 5px 5px;            
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAACXBIW…nuVHRFhDQxMDAwMPz//x+OOzo6/iPz8WFGuocqAAAA//8DAD/sORHYg7kaAAAAAElFTkSuQmCC) right center no-repeat;    
}

.search-flight input[type="radio"] {
    width:auto;
}

.search-flight input[type="submit"] {
    width:100%;
    border-radius: 2px;
    background-color: #ffe100 !important;
    border-color: #ccb400;
    color: #092a5e;    
    font-weight: bold;
    background: linear-gradient(transparent,rgba(0,0,0,0.1));
    text-transform: uppercase;    
}

.radio-buttons {
    padding-top: 7px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;    
}

.radio-buttons label {
    margin-left: 10px;
}

.radio-buttons label input {
    margin-right: 6px;
    font-weight: normal;
}

.error {
    color:red;
    font-weight: normal;    
}
